@font-face {
    font-family: pacmanSmall;
    src: url(/css3/pacmanProjeto/fonte/Emulogic-zrEw.ttf); 
}

@font-face {
    font-family: pacmanBig;
    src: url(/css3/pacmanProjeto/fonte/DiscoDuck-eBYl.otf);
}

body  {
    background-color: #000000;
    font-family: pacmanSmall;
    color: #fff
    margin: 0px;
}

/* HOVER DAS LETRAS DO H1*/


h1 {
    font-family: pacmanBig;
    color: #fff;
    font-size: 6em;
    text-align: center;
    letter-spacing: 10px;
    float: left;
    filter: drop-shadow(2px 12px 8px rgb(87, 87, 87));
}

h1:hover {
    cursor: default;
}

h1#e:hover {
    color:#ffff00;
    transition: all 0.3s;
}

h1#v:hover {
    color:	#ff0000;
    transition: all 0.3s;
}

h1#o:hover {
    color:#00ffff;
    transition: all 0.3s;
}

h1#l:hover {
    color:#ffc0cb;
    transition: all 0.3s;
}

h1#u:hover {
    color:#ffa500;
    transition: all 0.3s;
}

h1#ç:hover {
    color:#ffff00;
    transition: all 0.3s;
}

h1#ã:hover {
    color:#ff0000;
    transition: all 0.3s;
}

h1#p:hover {
    color:#00ffff;
    transition: all 0.3s;
}

h1#a:hover {
    color:#ffc0cb;
    transition: all 0.3s;
}

h1#c:hover {
    color:#ffa500;
    transition: all 0.3s;
}

h1#m:hover {
    color:#ffff00;
    transition: all 0.3s;
}

h1#n:hover {
    color:#ff0000;
    transition: all 0.3s;
}








#principal {
    width: 920px;
    margin: auto;
}

.noticia {
    background-color: #f6d6db;
    padding: 10px;
    margin-bottom: 20px;
    width: 98%;
    float: left;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 20px rgb(154, 154, 154));
}

.noticia h2{
    font-size: 0.9em;
}

.noticia a{
    font-size: 1.4em;
    text-decoration: none;
    color: #ffa500;
    transition: all 0.7s;
    transform: scale(1.1);
}

.noticia a:hover{
    transition: all 0.7s;
    transform: scale(1.1);
    font-size: 2.0em;
    color: #ff0000;
}


.noticia p{
    font-size: 0.8em;
    line-height: 25px;
}

.clear {
    clear: both;
}

.imagem {
    background-color: #f8e1e1;
    margin: 8px;
    margin-bottom: 30px;
    padding: 5px;
    margin-top: 5px;
    float: left;
    border-radius: 15px;
    transform: scale(1.0);
    transition: all 1.0s;
}

.imagem:hover {
    border-radius: 6px;
    transform: scale(1.1);
    transition: all 1.0s;
    filter: drop-shadow(-10px 10px 25px rgb(255, 255, 255));
}


.imagem p{
    color: #f8516d;
}

.divImagem:hover {
    margin-bottom: 0px; 
    margin-top: 0px;
}

img {
    width: 280px;
    height: 200px;
    border-radius: 16px;
    transform: scale(1.0);
    transition: all 1.0s;
    
}

img:hover {
    width: 280px;
    height: 250px;
    border-radius: 16px;
    transform: scale(1.0);
    transition: all 1.0s;
}

.linkGameplay{
    font-size: 0.7em;
    color: #000;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.linkGameplay:hover{
    font-size: 0.7em;
    color: #ff0000;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


.link {
    text-decoration: none;
    color: #fff
}

footer a{
    color: #fff;
    transition: all 0.7s;
    transform: scale(1.1);
}

footer a:hover{
    color: 	#ffff00;
    transition: all 0.7s;
    transform: scale(1.1);
    font-size: 1.4em;

}

footer {
    font-size: 0.8em;
    color: #fff;
}